{% extends 'core/base.html' %}
{% block title %} Albums - Music Library {% endblock %}


{% block content %}
<h2>Albums ({{ total }})</h2>

<form method="get">
    <label>Filter by artist ID:</label>
    <input type="number" name="artist_id" value="{{ request.GET.artist_id }}">
    <button type="submit">Filter</button>
    {% if request.GET.artist_id %}
        <a href="{% url 'album_list' %}">Clear</a>
    {% endif %}
</form>

<p><a href="{% url 'album_create' %}">+ Add new album</a></p>

{% if albums %}
    <ul>
        {% for album in albums %}
            <li>
                <a href="{% url 'album_detail' album.pk %}">
                    {{ album.title }} ({{ album.artist.name }})
                </a>
                {% if album.release_Year %}
                    - {{ album.release_Year }}
                {% endif %}
                {% if album.is_Concept_Album %}
                    <strong>[Concept]</strong>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No albums yet.</p>
{% endif %}
{% endblock %}