{% extends "core/base.html" %}

{% block title %}{{ artist.name }} - Artist{% endblock %}

{% block content %}
    <h1>{{ artist.name }}</h1>
    <h2>Country </h2>
    <h4>{{ artist.country }}</h4>
    <h2>Genres</h2>

    {% for genre in artist.genre.all %}
        <h5>{{ genre.name }}</h5>
    {% empty %}
        <h5>No genres</h5>
    {% endfor %}


    <h2>Albums</h2>
    {% if artist.Albums.all %}
        <ul class="album-list">
            {% for album in artist.Albums.all %}
                <li>
                    <div class="album-main">
                        <div class="album-title">
                            <a href="{% url 'album_detail' album.pk %}">
                                {{ album.title }}
                            </a>
                        </div>
                        <div class="album-meta">
                            Released: {{ album.release_Year }}
                        </div>
                    </div>
                    <span class="badge">
                        {{ album.pk }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This artist has no albums yet.</p>
    {% endif %}
{% endblock %}